<?php
  $servername = "localhost";
  $mysql_username = "user";
  $password = "password";
  $dbname = "fed2";
  $anchor_publicid = "GAVUFP3ZYPZUI2WBSFAGRMDWUWK2UDCPD4ODIIADOILQKB4GI3APVGIF";
  $anchor_domain = "funtracker.site";
  $mysql_enable = "true";
  $token = "20_random_letter_numbers";
  $test_mode = false;
  $webhook_url = "https://www.funtracker.site/fed2/webhook.php";  
?>
